@media (max-width: 769px) {
    body{
        height: 103vh;
    }
    nav{
        padding: 15px;
        flex-direction: column;
        gap: 12px;
    }
    .barra{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px
    }
    a{
        font-size: 21px;
    }
    a.navegacao:hover{
        padding: 4px;
        font-size: 17px;
    }

    main{
        margin-top: 85px;
    }

    main > h1{
        font-size: 45px;
    }
    .txt-central > h4{
        font-size: 15px;
    }
    .botao-central > button{
        margin-bottom: 55px;
        font-size: 13px;
        max-width: 115px;
        max-height: 39px;
    }
    .quadradao{
        max-width: 114.4px;
        max-height: 114.4px;
    }
    #N-Bueno{
        margin-top: 7.7px;
    }
}

@media (max-width: 425px) {
    body{
        height: 103vh;
    }
    nav{
        padding: 15px;
        flex-direction: column;
        gap: 12px;
    }
    .barra{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px
    }
    a{
        font-size: 21px;
    }
    a.navegacao:hover{
        padding: 4px;
        font-size: 17px;
    }

    main{
        margin-top: 85px;
    }

    main > h1{
        font-size: 45px;
    }
    .txt-central > h4{
        font-size: 15px;
    }
    .botao-central > button{
        margin-bottom: 55px;
        font-size: 13px;
        max-width: 115px;
        max-height: 39px;
    }
    .quadradao{
        max-width: 114.4px;
        max-height: 114.4px;
    }
    #N-Bueno{
        margin-top: 7.7px;
    }
}
